@use "sass:map";
@use "../../styles/variables";
@use "../../styles/mixins";

$minimal-responsive-font-size: 2.5rem;

.heading {
  @each $level, $token in variables.$heading-level {
    $font-size: map.get($token, font-size);
    $base-line-height: map.get($token, line-height);

    &--level#{$level} {
      font-size: $font-size * 0.8;
      line-height: $base-line-height * 0.8;
      font-weight: map.get($token, font-weight);
      letter-spacing: map.get($token, letter-spacing);

      @include mixins.media-breakpoint-up("sm") {
        & {
          font-size: $font-size;
          line-height: $base-line-height;
        }
      }
    }
  }

  @each $color, $value in variables.$heading-colors {
    &--#{$color} {
      color: $value;
    }
  }
}
