@use "sass:map";
@use "sass:color";

$action-colors: (
  primary: (
    500: #25dac5,
  ),
  secondary: (
    500: #482be7,
  ),
  third: (
    500: #e93a7d,
  ),
);

$color-socials: (
  twitter: #1da1f2,
);

$neutral-colors: (
  base: #1e0e62,
  text: #15143966,
  activeText: #151439,
  white: #ffffff,
  grey: #ebeaed,
);

/**
 *  *************************************************************************
 *                          COMPONENTS VARIABLES
 *  *************************************************************************
 */

/**
 *  Button Component
 */
$button-colors: (
  primary: (
    backgroundColor: map.get($action-colors, primary, 500),
    fontColor: map.get($neutral-colors, white),
  ),
  secondary: (
    backgroundColor: map.get($action-colors, secondary, 500),
    fontColor: map.get($neutral-colors, white),
  ),
  third: (
    backgroundColor: map.get($action-colors, third, 500),
    fontColor: map.get($neutral-colors, white),
  ),
  twitter: (
    backgroundColor: map.get($color-socials, twitter),
    fontColor: map.get($neutral-colors, white),
  ),
);
$button-sizes: (
  small: (
    padding: 0.9rem 2rem,
    font-size: 1.6rem,
    line-height: 2.2rem,
  ),
  medium: (
    padding: 1.2rem 2.2rem,
    font-size: 1.8rem,
    line-height: 2.6rem,
  ),
  large: (
    padding: 1.7rem 2.9rem,
    font-size: 2rem,
    line-height: 2.6rem,
  ),
);
$button-outline-border-width: 0.2rem;
$button-outline-border-color: map.get($neutral-colors, grey);
$button-outline-font-color: map.get($neutral-colors, base);

/**
 *  Field Component
 */
$field-colors: (
  borderColor: map.get($neutral-colors, grey),
  borderColorActive:
    color.adjust(map.get($neutral-colors, grey), $lightness: -10%),
  placeholderColor: map.get($neutral-colors, text),
  fontColor: map.get($neutral-colors, activeTexts),
  error: color.adjust(map.get($action-colors, third, 500), $lightness: -10%),
);
$field-border-width: 0.2rem;
$field-padding: 1.2rem 2.4rem;
$field-font-size: 1.8rem;
$field-line-height: 2.4rem;
$field-font-weight: 500;

/**
 *  Heading Component
 */
$heading-level: (
  1: (
    font-size: 5.8rem,
    line-height: 7rem,
    font-weight: 700,
    letter-spacing: -1px,
  ),
  2: (
    font-size: 5.8rem,
    line-height: 7rem,
    font-weight: 700,
    letter-spacing: -1px,
  ),
  3: (
    font-size: 4.2rem,
    line-height: 5.2rem,
    font-weight: 700,
    letter-spacing: -0.42px,
  ),
  4: (
    font-size: 4.2rem,
    line-height: 5.2rem,
    font-weight: 700,
    letter-spacing: -0.42px,
  ),
  5: (
    font-size: 2.2rem,
    line-height: 3.2rem,
    font-weight: 500,
    letter-spacing: 0,
  ),
  6: (
    font-size: 2.2rem,
    line-height: 3.2rem,
    font-weight: 500,
    letter-spacing: 0,
  ),
);
$heading-colors: (
  dark: map.get($neutral-colors, base),
  light: map.get($neutral-colors, white),
);
