$action-colors: (
  primary: (
    500: #25dac5,
  ),
  secondary: (
    500: #482be7,
  ),
  third: (
    500: #e93a7d,
  ),
);

$color-socials: (
  twitter: #1da1f2,
);

$neutral-colors: (
  base: #1e0e62,
  text: #15143966,
  activeText: #151439,
  white: #ffffff,
  grey: #ebeaed,
);
