@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "../../styles/variables";

// From design to calculate spacing
$design-auth-page-height: 890px;
$design-auth-page-width: 1400px;

$auth-page-background: map.get(variables.$background-colors, dark);
$auth-page-container-width: math.div(970px, $design-auth-page-width) * 100vw;
$auth-page-container-fluid-margin-top: min(
  math.div(65px, $design-auth-page-height) * 100vh,
  6.5rem
);
$auth-page-content-fluid-margin-top: min(
  math.div(82px, $design-auth-page-height) * 100vh,
  8.2rem
);

.auth-page {
  background-color: $auth-page-background;
  height: 100vh;
  overflow-y: hidden;
  padding: 0 1rem;

  &__container {
    max-width: $auth-page-container-width;
    margin: 0 auto;
    margin-top: $auth-page-container-fluid-margin-top;
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: $auth-page-content-fluid-margin-top;
  }

  &__cta-section {
    max-width: 42.7rem;
  }

  &__lead {
    max-width: 36.3rem;
    margin-top: 2.4rem;
    margin-bottom: 4.5rem;
  }

  &__auth-panel-heading {
    text-align: center;
    padding-bottom: 3.4rem;
  }

  &__auth-panel-sing-in {
    display: block;
    margin-top: 3rem;
    text-align: center;

    &-action-text {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: map.get(variables.$neutral-colors, text);
      display: inline-block;
    }

    &-link {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.8rem;
      text-decoration: none;
      display: inline-block;
      margin-left: 1rem;
      color: map.get(variables.$action-colors, primary, 500);

      &:hover,
      &:focus {
        color: color.adjust(
          map.get(variables.$action-colors, primary, 500),
          $lightness: -10%
        );
      }
    }
  }
}
