.page-pricing-plan {
  &__table {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  &__table-item {
    max-width: 37rem;
    width: 100%;
  }

  &__table-cta-wrapper {
    display: flex;
    justify-content: center;
  }

  &__table-feature-list {
    display: flex;
    justify-content: center;
  }
}
