@use "sass:map";
@use "sass:math";
@use "../../styles/variables";

$pricing-page-height: 980px;

$pricing-page-header-width: 59rem;
$pricing-page-header-subtitle-font-size: 1.6rem;
$pricing-page-header-subtitle-line-height: 2.6rem;
$pricing-page-header-subtitle-font-weight: 400;
$pricing-page-header-subtitle-font-color: map.get(
  variables.$neutral-colors,
  text
);
$pricing-page-header-margin-bottom: min(
  math.div(64px, $pricing-page-height) * 100vh,
  6.4rem
);

.pricing-page {
  min-height: 100vh;
  display: grid;
  place-items: center start;

  &__container {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: $pricing-page-header-margin-bottom;
  }

  &__header-inner {
    max-width: $pricing-page-header-width;
  }

  &__header-title {
    margin-bottom: 2.4rem;
    text-align: center;
  }

  &__header-subtitle {
    font-weight: $pricing-page-header-subtitle-font-weight;
    font-size: $pricing-page-header-subtitle-font-size;
    line-height: $pricing-page-header-subtitle-line-height;
    text-align: center;
    color: $pricing-page-header-subtitle-font-color;
  }

  &__table {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
  }

  &__table-item {
    max-width: 37rem;
    width: 100%;
  }

  &__table-cta-wrapper {
    display: flex;
    justify-content: center;
  }

  &__table-feature-list {
    display: flex;
    justify-content: center;
  }
}
